.header {
  margin-top: 45px;
  max-width: 880px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 32px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 481px) and (max-width: 880px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
