.page {
  background-color: black;
  color: white;
  margin: 0;
}

.page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
